<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391632552910-rj3sui3m5fo9t00bnvofcdbi5n18tu1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391632552910-rj3sui3m5fo9t00bnvofcdbi5n18tu1r</string>
	<key>API_KEY</key>
	<string>AIzaSyC0f2ApVGBMaLCusKazs2Zu58Z4zX1OoFI</string>
	<key>GCM_SENDER_ID</key>
	<string>391632552910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pressingToo</string>
	<key>PROJECT_ID</key>
	<string>too-pressing-b3fb2</string>
	<key>STORAGE_BUCKET</key>
	<string>too-pressing-b3fb2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391632552910:ios:84ef19bf43207a90dea19f</string>
</dict>
</plist>